<main class="main">
  <div class="content">
    <div *ngFor="let author of authors">
      <div *ngIf="author.age > 10; else noPG13" class="text-amber-400">
        GIOI TINH NAM : - {{ author.id }} - {{ author.firstName }}
        {{ author.lastName }}
      </div>
      <ng-template #noPG13>
        <div>GTN</div>
      </ng-template>
    </div>
    <button
      mat-mini-fab
      disabled
      aria-label="Example icon button with a home icon"
    >
      <mat-icon>home</mat-icon>
    </button>
  </div>
</main>
