<main class="main">
  <div class="content">
    <div *ngFor="let author of authors">
      <div *ngIf="author.age > 10; else noPG13" class="text-amber-400">
        GIOI TINH NAM : - {{ author.id }} - {{ author.firstName }}
        {{ author.lastName }}
      </div>
      <ng-template #noPG13>
        <div>GTN</div>
      </ng-template>
    </div>
    <div [style.backgroundColor]="backgroundColor">TEST</div>
    <input
      type="number"
      [value]="progress"
      (change)="handleChangeProgres($event)"
    />
    <button
      mat-mini-fab
      aria-label="Example icon button with a home icon"
      (click)="city.handleUpdateCities()"
    >
      <mat-icon>home</mat-icon>
    </button>
    <app-city #city></app-city>
  </div>
</main>
